[data-theme="dark"] {
  background-color: #181a1b !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #1b1e1f !important;
}

[data-theme="dark"] .bg-white {
  background-color: #1b1e1f !important;
}

[data-theme="dark"] .bg-black {
  background-color: #1b1e1f !important;
}

[data-theme="dark"] .darktxt {
  color: #fff !important;
}

[data-theme="dark"]  body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

[data-theme="dark"] body::-webkit-scrollbar-track {
  background: #181a1b !important;        /* color of the tracking area */
}

[data-theme="dark"] body::-webkit-scrollbar-thumb {
  background-color: #fff !important;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #181a1b !important;  /* creates padding around scroll thumb */
}
[data-theme="dark"] .darkmode {
  background-color: #181a1b !important;    /* color of the scroll thumb */ /* creates padding around scroll thumb */
}